<form (ngSubmit)="send()" [formGroup]="eventForm">
  <div class="example-container">
    <mat-form-field class="form-item">
      <input formControlName="evName" matInput placeholder="Name">
    </mat-form-field>
  </div>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="radio-group form-item"
    formControlName="type">
    <mat-radio-button *ngFor="let type of types" [value]="type" class="radio-button">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>

  <mat-form-field class="form-item">
    <mat-label>Select category</mat-label>
    <mat-select formControlName="categoryId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.categoryId"
                  value="option1">{{category.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="form-item">
    <input formControlName="value" matInput placeholder="Value" type="number">
  </mat-form-field>

  <mat-form-field>
    <input [matDatepicker]="picker1" formControlName="eventDate" matInput type="text">
    <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <br/>

  <input [disabled]="!eventForm.valid" mat-button type="submit" value="Send">
</form>
