<article>
<div class="example-container">
  <mat-form-field class="form-item">
    <input matInput placeholder="Name" [(ngModel)]="event.evName">
  </mat-form-field>
</div>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="radio-group form-item"
  [(ngModel)]="event.type">
  <mat-radio-button class="radio-button" *ngFor="let type of types" [value]="type">
    {{type}}
  </mat-radio-button>
</mat-radio-group>

<mat-form-field class="form-item">
  <mat-label>Select category</mat-label>
  <mat-select [(value)]="event.category.categoryId">
    <mat-option>None</mat-option>
    <mat-option value="option1" *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</mat-option>

  </mat-select>
</mat-form-field>
<mat-form-field class="form-item">
  <input matInput placeholder="Value" [(ngModel)]="event.value">
</mat-form-field>

<mat-form-field >
  <input matInput [matDatepicker]="picker1" placeholder="Event date" [formControl]="date" [(ngModel)]="event.eventDate" >
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<br/>

  <button (click)="send()" mat-button>Send</button>
</article>
