.radio-group {
  display: flex;
  flex-direction: column;

}

.radio-button {
  padding: 5px;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 12px;
}

article {
  padding: 35px;
}
