<form (ngSubmit)="send()" [formGroup]="newPassword">
  <div class="example-container">
    <mat-form-field class="form-item">
      <input formControlName="pass1" matInput name="pass1" placeholder="Password" type="password">
      <mat-error *ngIf="newPassword.get('pass1').hasError('minlength')">Too short password</mat-error>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field class="form-item">
      <input formControlName="pass2" matInput name="pass2" placeholder="Repeat password" type="password">
      <mat-error *ngIf="newPassword.hasError('notSame')">Different</mat-error>

    </mat-form-field>
  </div>
  <input [disabled]="!newPassword.valid" mat-button type="submit" value="Register">
