<table>
  <caption><h1>Last week</h1></caption>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Category</th>
    <th>Value</th>
    <th>Data</th>
  </tr>
  <tr *ngFor="let event of weekEvents">
    <th>{{event.evName}}</th>
    <th>{{event.type}}</th>
    <th>{{event.category.name}}</th>
    <th>{{event.value}}</th>
    <th>{{event.eventDate}}</th>
  </tr>

</table>

<table>
  <caption><h1>Last 30 days</h1></caption>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Category</th>
    <th>Value</th>
    <th>Data</th>
  </tr>
  <tr *ngFor="let event of monthEvents">
    <th>{{event.evName}}</th>
    <th>{{event.type}}</th>
    <th>{{event.category.name}}</th>
    <th>{{event.value}}</th>
    <th>{{event.eventDate}}</th>
  </tr>

</table>
