<form (ngSubmit)="update()">
  <div class="example-container">
    <mat-form-field class="form-item">
      <input name="uname" matInput placeholder="Name" [(ngModel)]="user.uname">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field class="form-item">
      <input name="surname" matInput placeholder="Second name" [(ngModel)]="user.surname">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field class="form-item">
      <input name="username" matInput placeholder="Login" [(ngModel)]="user.username">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field class="form-item">
      <input name="pass1" matInput placeholder="New password" type="password" [(ngModel)]="user.pass1">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field class="form-item">
      <input name="pass2" matInput placeholder="Repeat password" type="password" [(ngModel)]="user.pass2">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field class="form-item">
      <input name="password" matInput placeholder="Password" type="password" [(ngModel)]="user.password" required>
    </mat-form-field>
  </div>
  <input type="submit" mat-button value="Send">

</form>
