/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  width: 80%;
  margin: auto;
  height: 100%;
}

section {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  border: 1px lawngreen solid;
  box-shadow: 10px 2px 15px 5px lawngreen;
  border-radius: 30px;
  padding: 5px;
}


footer{
  clear: both;
  width: 100%;
  height: 20px;
  color: Black;
  text-align: center;
}
