<h1>Hello {{user?.uname}}</h1>
<div class="container">
  <div class="chart">
    <p>In this week you add {{weekCount}} event, in this month {{monthCount}} event.
      Since you created account you add {{allCount}} events</p>
  </div>
  <div class="chart">
    <h1>Month finances
      <app-month-circle-chart></app-month-circle-chart>
    </h1>
  </div>
  <div class="chart">
    <app-category-chart></app-category-chart>
  </div>
  <app-year-chart class="chart year-chart">a</app-year-chart>
</div>
